{{ define "main" }}
<header class="breadCrumb">
	<div class="svg-img">
		<img src="images/hero/figure-svg.svg" alt="">
	</div>
	<div class="animate-shape">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
			<defs>
				<linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
					<stop offset="0" stop-color="#f1f6f9" />
					<stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
				</linearGradient>
			</defs>
			<g data-name="blob-shape (3)">
				<path class="blob" fill="url(#d)"
					d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
			</g>
		</svg>
	</div>
	<div class="animate-pattern">
		<img src={{"images/Grid.svg" | absURL }} alt="background-shape">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4 class="breadCrumb__title">Help us fight for you.</h4>		
			</div>
		</div>
        
	</div>
</header>

<section class="section faq">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="faq-item-grid">
          <div class="faq-item col-6">
				<div class="faq-item-content">
<!--				<h6>501(c)(3)</h6> -->
<!--        <a class="btn btn-primary" href="/donate/501c3">Donate to the 501(c)(3)</a> -->
				<h6>501(c)(3) - currently not accepting donations</h6>
				<p> <a class="see-more-btn text-black-50 text-muted" href="/faq/501c3">Have questions about what this means? Click here.</a></p>
				</div>
			</div>

			<div class="faq-item col-6">
				<div class="faq-item-content">
				  <h6>501(c)(4)</h6>
          <a class="btn btn-primary" href="/donate/501c4">Donate to the 501(c)(4)</a>
				<p> <a class="see-more-btn text-black-50 text-muted" href="/faq/501c4">Have questions about what this means? Click here.</a></p>
				</div>

			</div>

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
